 .site-benefits {
     @extend .section;

    &__list {
    @extend .list;

    @media screen and (min-width: $table){
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
    }
    }

    &__item {
        max-width: 450px;
        
        @media screen and(max-width: 747px) {
        &:not(:last-child) {
         margin-bottom: 30px;
        }
    }
        @media screen and(min-width: $table) and (max-width: 1199px){
        max-width: 354px;
        
        &:nth-child(2n+1) {
            margin-right: 30px;
        }
        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }
        }
        
        @media screen and(min-width: $desktop){
        max-width: 270px;

        &:nth-child(-n+3) {
            margin-right: 30px;
        }
        }

    }

    &__title {
        display: none;
    }

    &__sub-title {
        margin-bottom: 10px;
        text-align: center;

        color: $titleTextColor;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;

        @media screen and (min-width: $table) {
            text-align: left;
        }
    }

    &__text {
        line-height: 1.71;
        color: $primaryTextColor
    }

    &__icon-box {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 25px;
        
        border-radius: 4px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        background-color: $backgroungIconColor;
        text-align: center;

        
    }
 }