*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}



body {
    background-color: var(--background-color);
    color: var(--primary-text-color);

    font-family: 'Roboto',
        sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
}