.site-clients {
    @extend .section;

    &__title {
        margin-bottom: 30px;

        color: $titleTextColor;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
    }

    &__list {
        @extend .list;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    &__item:nth-child(2n+1) {
        margin-right: 30px;
    }

    &__link {
        display: inline-flex;
      max-width: 210px;
      height: 92px;
      border: 1px solid $clientIconColor;
      border-radius: 4px;
      fill: $clientIconColor;
      transition: fill $animation,
      border-color $animation;

      &:hover, &:focus {
          border-color: $accentColor;
          fill: $accentColor;
      }
    }

    // &__icon {
    //    margin-top: auto;
    //   margin-bottom: auto;
    //   margin-left: auto;
    //   margin-right: auto; 
    // }
}