.site-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $backgroundFooterColor;

        
    
    

    &__inner {
        text-align: center;
        @media screen and (min-width: $desktop) {
            display: flex;
        }
    }
    @media screen and (max-width: 767px) {
    &__item {
       margin-bottom: 60px;
    }
}

    @media screen and (min-width: $table) {
        &__inner--table{
            display: flex;
            justify-content: center;

            height: 127px;
            margin-bottom: 60px;
        }
        &__item {
           
            margin-right: 165px;
        }
    }

    @media screen and (min-width: $desktop) {
        &__item {
            width: 231px;
            margin-right: 70px;
        
            text-align: left;
            
        }
        &__inner--table {
            margin-right: 93px;
            margin-bottom: 0;
        }
    }


}

.site-address {
    color: $secondlyAddressColor;

    font-style: normal;
    transition: color $animation;

    &__list {
        @extend .list;
    }

    &__item:not(:last-child) {
        margin-bottom: 8px;
    }
    
    &__link {
        font-size: 14px;
        line-height: 1.71;

        color: $secondlyAddressColor;

        text-decoration: none;
        transition: color $animation;

        &:hover, &:focus {
            color: $accentColor;
        }
    }

    &__contacts {
        color: $primaryAddressColor;

        font-weight: 400;
        line-height: 1.71;
        text-decoration: none;

        &:hover, &:focus {
                color: $accentColor;
            }
    }
}

.site-connect {
    // padding-top: 15px;
    // max-width: 206px;
    // margin-right: 93px;

    &__text {
    
        margin-bottom: 20px;

        font-size: 14px;
        font-weight: 700;
        line-height: 1.42;
        text-transform: uppercase;
        color: $secondlyAddressColor;
        @media screen and (min-width: $desktop) {
                text-align: left;
                margin-top: 9px;
            }
    }
}

.site-social {
    &--footer{
        margin-bottom: 60px;
    }

    &__link--footer {
        fill: $backgroundColor;
        background-color: $backgroundSocialFooter;

        &:hover, &:focus {
            background-color: $accentColor;
        }
    }  
}

.site-subscribe {
    // padding-top: 15px;
    

    &__text {
         margin-bottom: 20px;


        font-size: 14px;
        line-height: 1.14;
        font-weight: 700;
        text-transform: uppercase;

        color: $secondlyAddressColor;

        @media screen and (min-width: $desktop) {
            margin-top: 9px;
            text-align: left;
        }
    }

    &__email {
        width: 100%;
        max-width: 450px;
        height: 50px;
        padding-bottom: 15px;
        padding-left: 16px;
        padding-top: 15px;
        margin-bottom: 20px;


        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;

        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
        outline: none;

        transition: border $animation;

        @media screen and (min-width: $desktop) {
            width: 358px;
            margin-bottom: 0;
            margin-right: 7px;
        }

        &:focus {
            border: 1px solid $accentColor;
        }
    }

    &__field {
        // display: flex;
    }

    &__button {
        // display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    
        
        padding-top: 10px;
       padding-bottom: 10px;
       padding-left: 29px;
       padding-right: 62px;

       font-family: 'Roboto', sans-serif;
       font-weight: 700;
       font-size: 16px;
       line-height: 1.88;
       letter-spacing: 0.06em;
       color: $secondlyAddressColor;
       fill: $secondlyAddressColor;

       text-align: center;
       border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
       background-color: $accentColor;

       cursor: pointer;

       @media screen and (min-width: $table) and (max-width: 1199px) {
           display: block;
       }
    }

    &__icon {
        //  margin-left: 10px;

        position: absolute;
        top: 13px;
        right: 28px;
    }
    }


