.site-header {
    border-bottom: 1px solid #ECECEC;

    &__menu {
        padding-top: 16px;
        padding-bottom: 16px;
        
    }
}



.site-nav {
    

    color: $titleTextColor;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color $animation;
    
    &__list {
        display: flex;
        @extend .list;
    }

//     &__items:not(:last-child) {
//     margin-right: 50px;
// }

    &__link {
    

    position: relative;

    color: $titleTextColor;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color $animation;

    &:hover, &focus {
        color: $accentColor;
    }

    &--selection {
        color: $accentColor;
    }

    &--selection::after {
    content: '';
    height: 4px;
    width: 100%;

    background-color: $accentColor;

    border-radius: 2px;

    position: absolute;
    bottom: -1px;
    left: 0;
    }
    }
}

.site-contacts {
    

    list-style: none;
 
    &__link {
    font-weight: 500;
    font-size: 14px;
    line-height:  1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color $animation;
    }

    &__item {
    
    color: $primaryTextColor;

    &:hover {
        color: $accentColor;
    }
    
    // &:not(:last-child) {
       
    // }
    }

    &__link {
    color: $primaryTextColor;

    font-weight: 500;
    font-size: 14px;
    line-height:  1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color $animation;

        &:hover, &:focus {
            color: $accentColor;
        }
    }

    &__icon {
    fill: currentColor;
    margin-bottom: -1px;

        &:hover {
            fill: currentColor;
        }
    }

}




