.site-backdrop {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    
        background-color: $modalBackdropColor;
        opacity: 1;
        transform: scale(1);
    
        transition: opacity $animation, transform $animation;

        &.is-hidden {
             opacity: 0;
            pointer-events: none;
            transform: scale(1.1);
        }
}

.site-modal {
        padding-top: 40px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 40px;
        width: 528px;
        height: 581px;
        background-color: $backgroundColor;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    
        position: absolute;
        top: 50%;
        left: 50%;
    
        transform: translate(-50%, -50%);

        &__button {
        width: 30px;
        height: 30px;
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;

        margin-left: auto;
        
        background-color: transparent;

        position: absolute;
        right: 8px;
        top: 8px;

        cursor: pointer;

        
        }

        &__icon {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            fill: #000000;

            transition: fill $animation;

            .site-modal__button:hover &, .site-modal__button:focus & {
                fill: $accentColor;
            }
        }
    }
        .site-feedback {
            &__title {
                margin-bottom: 12px;
                
                font-weight: 700;
                font-size: 20px;
                line-height: 1.15;
                text-align: center;
                
                color: $titleTextColor;
            }

            &__label {
                &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                &:last-child {
                    margin-bottom: 20px;
                }
            }

            &__name {
                margin-bottom: 4px;

                font-size: 12px;
                line-height: 1.16;
                letter-spacing: 0.01em;

                color:$primaryTextColor;
            }

            &__field {
                position: relative;
            }

            &__input {
                width: 448px;
                height: 40px;
                padding-left: 42px;
                padding-top: 12px;
                padding-bottom: 12px;
                
                outline: none;
                border: 1px solid rgba(33, 33, 33, 0.2);
                border-radius: 4px;
                
                transition: border $animation;
                
                &:focus {
                    border: 1px solid $accentColor;
                }
            }

            &__icon {
                position: absolute;
                top: 12px;
                left: 12px;
                translate: transform(-50%, -50%);

                fill: $titleTextColor;

            transition: fill $animation;

            .site-feedback__input:focus + & {
                fill: $accentColor;
            }
            }

            &__textarea {
            padding-left: 16px;
            padding-top: 12px;
            padding-bottom: 12px;
        
            max-width: 448px;
            height: 120px;
        
            resize: none;

                 &::placeholder {
                font-size: 12px;
                line-height: 1.16;
                letter-spacing: 0.01em;

                color: rgba(117, 117, 117, 0.5);
            }
            }

            &__checkbox-field {
                position: relative;
                width: 425px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
            }

            &__checkbox {
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                clip: rect(0 0 0 0);
                overflow: hidden;
                position: absolute;
            }

            &__treaty {
            display: flex;
            line-height: 0.03em;
            align-items: center;
            

            //     &::before {
            //     content: '';
            //     width: 16px;
            //     height: 15px;
            //     margin-right: 7px;
            //     background-image: $checkboxIconEmpty;
            //     transition: background-image $animation;
            
            // }

            // .site-feedback__checkbox:checked + &::before {
            // background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
                
            }
                
            

            &__label {
                display: flex;
            }

            &__checkbox-icon {
                display: flex;

                margin-right: 7px;
                width: 16px;
                height: 15px;
                border: 2px solid #212121;
                border-radius: 2px;
                background-color: transparent;

                position: relative;

                transition: border $animation, background-color $animation;

             .site-feedback__checkbox:checked + & {
                border: 2px solid #2196F3;
                background-color: #2196F3;
            }

        }

            &__svg {
             
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            

        &__link {
            color: $modalLinkColor;
        }

        &__button {
            display: block;
            padding-top: 10px;
            padding-right: 55px;
            padding-bottom: 10px;
            padding-left: 56px;
            
            margin-left: auto;
            margin-right: auto;
            
            background-color: $modalButtomColor;
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: $accentBtnColor;
            
            cursor: pointer;
        }
        
    }

    